.section__hero {
    padding-top: 100px;
    padding-bottom: 500px;
    position: relative;
    background: var(--primary);

    @media (max-width: $breakpoint992) {
        padding-bottom: 400px;
    }

    @media (max-width: $breakpoint768) {
        padding-bottom: 450px;
    }


}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section__text {
        margin-top: 20px;
        max-width: 621px;
        text-align: center;
    }

    &__img {
        position: absolute;

        &.image__item {
            &-1 {
                bottom: 0;
                left: 50%;
                transform: translate(-40%, 150px);
            }

            &-2 {
                
            }

            &-3 {
                width: 100%;
                top: 0;
            }
        }
    }
}