:root {
    --primary-color: #000000;

    --background: #FFFFFF;
    --primary: #F0F5FB;
    --secondary: #FE8160;
    --secondary-light: #6c6c6c;
    --block: #191919;
    --burgerActiveColor: #f4f4f4;
}