// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1440;
$containerPadding: 220;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1200: 1199.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

$mainTransition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s all;

// Fonts
$fontMain: 'Montserrat',
sans-serif;
$fontSecondary: '';

// Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerColor: var(--primary-color);
$burgerActiveColor: var(--burgerActiveColor);