// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1080;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1200: 1199.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';

// Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerColor: 'black';
$burgerActiveColor: 'white';