// **************************   SCSS   *****************************

@import './global/vars';
@import './base/normalize';
@import './global/libs';
@import './components/navbar';

@import './global/global';

// **************************   Default style   *****************************

.container {
    max-width: $mw + px;
    margin: 0 auto;
    width: 100%;

    @media (max-width: $md1+px) {
        max-width: 970px;
    }

    @media (max-width: $md2+px) {
        max-width: 750px;
    }

    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}

a {
    text-decoration: none;
    color: var(--primary-color);
}